<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imqsl.com.explorer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sample_flat_160"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivities.SearchActivity" />
        <activity android:name=".SearchActivities.ResultActivity" />
        <activity
            android:name=".UserActivities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".DiscoveryActivities.DiscoveryActivity" />
        <activity android:name=".UserActivities.CollectActivity" />
        <activity android:name=".UserActivities.HistoryActivity" />
        <activity android:name=".UserActivities.DownloadActivity" />
        <activity android:name=".UserActivities.FeedbackActivity" />
        <activity android:name=".UserActivities.SetActivity" />
        <activity android:name=".UserActivities.RegisterActivity"/>

    </application>

</manifest>